Repository apache/skywalking-java, pull requests merged in 2021-09, with the labels that each got.

#17 optimize lettuce plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/AsyncCommandMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/ClientOptionsConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/DefaultEndpointChannelActiveInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisChannelWriterInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisClientConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisClusterClientConstructorInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisCommandCancelMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisCommandCompleteExceptionallyMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisCommandCompleteMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/SWBiConsumer.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/SWConsumer.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/AsyncCommandInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/ClientOptionsInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/DefaultEndpointInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/RedisClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/RedisClusterClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/lettuce/v5/define/RedisCommandInstrumentation.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/lettuce/v5/RedisChannelWriterInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/lettuce/v5/mock/MockClientOptions.java
  apm-sniffer/apm-sdk-plugin/lettuce-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/lettuce/v5/mock/MockRedisClusterClient.java
  apm-sniffer/apm-test-tools/src/main/java/org/apache/skywalking/apm/agent/test/helper/SpanHelper.java
  test/plugin/scenarios/lettuce-scenario/config/expectedData.yaml
  test/plugin/scenarios/lettuce-scenario/support-version.list
Labels: enhancement, plugin

#18 fix multi-db-instance on same host port
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v5/ConnectionCreate5xInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v6/ConnectionCreateOldInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v8/ConnectionCreateInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/ConnectionCache.java
Labels: bug, plugin

#21 Migrate base Docker image from JDK to JRE and remove unused classes
  .github/workflows/publish-docker.yaml
  Dockerfile
  Makefile
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/StringFormatGroup.java
  apm-commons/apm-util/src/test/java/org/apache/skywalking/apm/util/StringFormatGroupTest.java
  docs/en/contribution/release-java-agent.md
  docs/en/setup/service-agent/java-agent/containerization.md
Labels: docker

#23 Add compiling doc
  .github/PULL_REQUEST_TEMPLATE
  README.md
  docs/en/contribution/compiling.md
  docs/en/contribution/release-java-agent.md
  docs/menu.yml
  pom.xml
Labels: documentation

#24 Fix doc format issue.
  docs/en/contribution/compiling.md
Labels: documentation

#25 Chore: Add benchmark and improve docs for exception-ignore plugin
  CHANGES.md
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/status/HierarchyMatchExceptionBenchmark.java
  docs/en/setup/service-agent/java-agent/How-to-tolerate-exceptions.md
  pom.xml
Labels: documentation

#27 Add Alibaba Druid connection pool plugin.
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/druid-1.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/druid-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/druid/v1/PoolingCloseConnectInterceptor.java
  apm-sniffer/apm-sdk-plugin/druid-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/druid/v1/PoolingGetConnectInterceptor.java
  apm-sniffer/apm-sdk-plugin/druid-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/druid/v1/define/DruidDataSourceInstrumentation.java
  apm-sniffer/apm-sdk-plugin/druid-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/druid/v1/define/DruidPooledConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/druid-1.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/druid-1.x-scenario/bin/startup.sh
  test/plugin/scenarios/druid-1.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/druid-1.x-scenario/configuration.yml
  test/plugin/scenarios/druid-1.x-scenario/pom.xml
  test/plugin/scenarios/druid-1.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/druid-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/druid/Application.java
  test/plugin/scenarios/druid-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/druid/MySQLConfig.java
  test/plugin/scenarios/druid-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/druid/controller/CaseController.java
  test/plugin/scenarios/druid-1.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/druid/service/CaseService.java
  test/plugin/scenarios/druid-1.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/druid-1.x-scenario/src/main/resources/jdbc.properties
  test/plugin/scenarios/druid-1.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/druid-1.x-scenario/support-version.list
Labels: enhancement, plugin

#28 fix agent.config
  apm-sniffer/config/agent.config
  docs/menu.yml
Labels: bug

#29 Add HikariCP connection pool plug-in.
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/hikaricp-3.x-4.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/hikaricp-3.x-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hikaricp/PoolingCloseConnectInterceptor.java
  apm-sniffer/apm-sdk-plugin/hikaricp-3.x-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hikaricp/PoolingGetConnectInterceptor.java
  apm-sniffer/apm-sdk-plugin/hikaricp-3.x-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hikaricp/define/HikariDataSourceInstrumentation.java
  apm-sniffer/apm-sdk-plugin/hikaricp-3.x-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hikaricp/define/HikariProxyConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/hikaricp-3.x-4.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/hikaricp-scenario/bin/startup.sh
  test/plugin/scenarios/hikaricp-scenario/config/expectedData.yaml
  test/plugin/scenarios/hikaricp-scenario/configuration.yml
  test/plugin/scenarios/hikaricp-scenario/pom.xml
  test/plugin/scenarios/hikaricp-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/hikaricp-scenario/src/main/java/org/apache/skywalking/apm/testcase/hikaricp/Application.java
  test/plugin/scenarios/hikaricp-scenario/src/main/java/org/apache/skywalking/apm/testcase/hikaricp/MySQLConfig.java
  test/plugin/scenarios/hikaricp-scenario/src/main/java/org/apache/skywalking/apm/testcase/hikaricp/controller/CaseController.java
  test/plugin/scenarios/hikaricp-scenario/src/main/java/org/apache/skywalking/apm/testcase/hikaricp/service/CaseService.java
  test/plugin/scenarios/hikaricp-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/hikaricp-scenario/src/main/resources/jdbc.properties
  test/plugin/scenarios/hikaricp-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/hikaricp-scenario/support-version.list
Labels: enhancement, plugin

#32 Remove link to aliyun ONS doc
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: chore

#34 Fix a tracing context leak in SpringMVC plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
Labels: bug, plugin

#33 Update support-version.list for Pulsar test scenario
  test/plugin/scenarios/pulsar-scenario/support-version.list
Labels: testing

#30 Upgrade byte-buddy to 1.11.18
  CHANGES.md
  dist-material/LICENSE
  pom.xml
Labels: dependency

#31 Support for Apache HttpClient 5 plugin
  .github/workflows/plugins-test.1.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/Constants.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/HttpAsyncClientDoExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/HttpClientDoExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/IOSessionImplPollInterceptor.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/define/HttpAsyncClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/define/HttpClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/define/IOSessionImplInstrumentation.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/wrapper/AsyncResponseConsumerWrapper.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpclient/v5/wrapper/FutureCallbackWrapper.java
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/httpclient-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/httpclient/v5/HttpClientExecuteInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/httpclient-5.x-scenario/bin/startup.sh
  test/plugin/scenarios/httpclient-5.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/httpclient-5.x-scenario/configuration.yml
  test/plugin/scenarios/httpclient-5.x-scenario/pom.xml
  test/plugin/scenarios/httpclient-5.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/httpclient-5.x-scenario/src/main/java/org/apache/skywalking/testcase/httpclient5/BackController.java
  test/plugin/scenarios/httpclient-5.x-scenario/src/main/java/org/apache/skywalking/testcase/httpclient5/FrontController.java
  test/plugin/scenarios/httpclient-5.x-scenario/src/main/java/org/apache/skywalking/testcase/httpclient5/HttpClientConfig.java
  test/plugin/scenarios/httpclient-5.x-scenario/src/main/java/org/apache/skywalking/testcase/httpclient5/Httpclient5Application.java
  test/plugin/scenarios/httpclient-5.x-scenario/src/main/resource/application.yml
  test/plugin/scenarios/httpclient-5.x-scenario/src/main/resource/log4j2.xml
  test/plugin/scenarios/httpclient-5.x-scenario/support-version.list
Labels: enhancement, plugin

#35 Add Fastjson plugin
  .github/workflows/plugins-test.0.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/pom.xml
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/ParseArrayInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/ParseInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/ParseObjectInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/ToJavaObjectInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/ToJsonBytesInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/ToJsonInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/ToJsonStringInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/WriteJsonStringInterceptor.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/define/FastjsonInstrumentation.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/ParseArrayInterceptorTest.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/ParseInterceptorTest.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/ParseObjectInterceptorTest.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/ToJavaObjectInterceptorTest.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/ToJsonBytesInterceptorTest.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/ToJsonInterceptorTest.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/ToJsonStringInterceptorTest.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/fastjson/WriteJsonStringInterceptorTest.java
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/fastjson-scenario/bin/startup.sh
  test/plugin/scenarios/fastjson-scenario/config/expectedData.yaml
  test/plugin/scenarios/fastjson-scenario/configuration.yml
  test/plugin/scenarios/fastjson-scenario/pom.xml
  test/plugin/scenarios/fastjson-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/fastjson-scenario/src/main/java/org/apache/skywalking/apm/testcase/fastjson/Application.java
  test/plugin/scenarios/fastjson-scenario/src/main/java/org/apache/skywalking/apm/testcase/fastjson/controller/CaseController.java
  test/plugin/scenarios/fastjson-scenario/src/main/java/org/apache/skywalking/apm/testcase/fastjson/entity/CaseEntity.java
  test/plugin/scenarios/fastjson-scenario/src/main/java/org/apache/skywalking/apm/testcase/fastjson/service/CaseService.java
  test/plugin/scenarios/fastjson-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/fastjson-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/fastjson-scenario/support-version.list
Labels: enhancement, plugin

#36 fix NumberFormat exception in MysqlURLParser
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/MysqlURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/test/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParserTest.java
Labels: bug, plugin

#38 Should not determine the `sed` command syntax via OS only
  test/plugin/run.sh
Labels: chore

#39 Add an agent plugin to support Jackson
  .github/workflows/plugins-test.0.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/fastjson-1.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/fastjson/define/FastjsonInstrumentation.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/pom.xml
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/BasicMethodsInterceptor.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/ReadValueInterceptor.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/WriteValueAsBytesInterceptor.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/WriteValueAsStringInterceptor.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/define/AbstractInstrumentation.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/define/ObjectMapperInstrumentation.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/define/ObjectReaderInstrumentation.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jackson/define/ObjectWriterInstrumentation.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jackson/BasicMethodsInterceptorTest.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jackson/ReadValueInterceptorTest.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jackson/WriteValueAsBytesInterceptorTest.java
  apm-sniffer/optional-plugins/jackson-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jackson/WriteValueAsStringInterceptorTest.java
  apm-sniffer/optional-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/README.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/jackson-scenario/bin/startup.sh
  test/plugin/scenarios/jackson-scenario/config/expectedData.yaml
  test/plugin/scenarios/jackson-scenario/configuration.yml
  test/plugin/scenarios/jackson-scenario/pom.xml
  test/plugin/scenarios/jackson-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jackson-scenario/src/main/java/org/apache/skywalking/apm/testcase/jackson/Application.java
  test/plugin/scenarios/jackson-scenario/src/main/java/org/apache/skywalking/apm/testcase/jackson/controller/CaseController.java
  test/plugin/scenarios/jackson-scenario/src/main/java/org/apache/skywalking/apm/testcase/jackson/entity/CaseEntity.java
  test/plugin/scenarios/jackson-scenario/src/main/java/org/apache/skywalking/apm/testcase/jackson/service/CaseService.java
  test/plugin/scenarios/jackson-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jackson-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jackson-scenario/support-version.list
Labels: enhancement, plugin
