Repository apache/skywalking-java, pull requests merged in 2022-06, with the labels that each got.

#205 [ISSUE #9201] avoid FileWriter scheduled task NPE
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/FileWriter.java
Labels: bug

#166 [Polish] Code level polish (no logic change)
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/SnifferConfigInitializer.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/JsonLogger.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/ClassEnhancePluginDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/v2/ClassEnhancePluginDefineV2.java
Labels: chore

#206 Optimize gRPC Log reporter to set service name for the first element
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/remote/LogReportServiceClient.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v1/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-log4j-2.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/log4j/v2/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-logback-1.x-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/log/logback/v1/x/log/GRPCLogAppenderInterceptor.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaLogReporterServiceClient.java
Labels: enhancement

#215 [Bug #9250]shenyu plugin fix IgnoredTracerContext traceId NPE
  CHANGES.md
  apm-sniffer/optional-plugins/shenyu-2.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/shenyu/v24x/GlobalPluginExecuteMethodInterceptor.java
Labels: bug, plugin

#229 [ISSUE #9264] fix onHalfClose span operation name
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/Constants.java
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/server/TracingServerCallListener.java
  test/plugin/scenarios/correlation-autotag-scenario/config/expectedData.yaml
  test/plugin/scenarios/grpc-generic-call-scenario/config/expectedData.yaml
  test/plugin/scenarios/grpc-scenario/config/expectedData.yaml
  test/plugin/scenarios/shenyu-2.4.x-grpc-scenario/config/expectedData.yaml
Labels: bug, plugin

#231 Fix CI through clear context forcedly.
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/test/tools/AgentServiceRule.java
Labels: testing

#228 update witness class in elasticsearch-6.x-plugin
  .github/workflows/plugins-test.0.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/define/RestHighLevelClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/Constants.java
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/bin/startup.sh
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/configuration.yml
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/pom.xml
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/Application.java
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/RestHighLevelClientCase.java
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/config/ElasticsearchConfig.java
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/controller/CaseController.java
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/src/main/resource/application.yml
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/src/main/resource/log4j2.xml
  test/plugin/scenarios/elasticsearch-rest-high-level-6.x-scenario/support-version.list
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/bin/startup.sh
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/configuration.yml
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/pom.xml
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/Application.java
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/TransportClientCase.java
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/config/TransportClientConfig.java
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/elasticsearch/controller/CaseController.java
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/src/main/resource/application.yml
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/src/main/resource/log4j2.xml
  test/plugin/scenarios/elasticsearch-transport-6.x-scenario/support-version.list
Labels: enhancement, plugin

#264 Add an agent plugin to support hutool-http
  .github/workflows/plugins-test.1.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/hutool-plugins/hutool-http-5.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/hutool-plugins/hutool-http-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hutool/http/v5/HutoolHttpExecuteInterceptor.java
  apm-sniffer/apm-sdk-plugin/hutool-plugins/hutool-http-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hutool/http/v5/define/HutoolHttpInstrumentation.java
  apm-sniffer/apm-sdk-plugin/hutool-plugins/hutool-http-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/hutool-plugins/pom.xml
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/hutool-http-5.x-scenario/bin/startup.sh
  test/plugin/scenarios/hutool-http-5.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/hutool-http-5.x-scenario/configuration.yml
  test/plugin/scenarios/hutool-http-5.x-scenario/pom.xml
  test/plugin/scenarios/hutool-http-5.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/hutool-http-5.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/hutoolhttp5/Application.java
  test/plugin/scenarios/hutool-http-5.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/hutoolhttp5/controller/CaseController.java
  test/plugin/scenarios/hutool-http-5.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/hutool-http-5.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/hutool-http-5.x-scenario/support-version.list
Labels: plugin, feature
