Repository apache/skywalking-java, pull requests merged in 2022-02, with the labels that each got.

#105 Feature/support tomcat thread pool
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/tomcat-thread-pool-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/tomcat-thread-pool-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat/thread/pool/TomcatThreadExecutorInterceptor.java
  apm-sniffer/apm-sdk-plugin/tomcat-thread-pool-plugin/src/main/java/org/apache/skywalking/apm/plugin/tomcat/thread/pool/define/TomcatThreadExecutorInstrumentation.java
  apm-sniffer/apm-sdk-plugin/tomcat-thread-pool-plugin/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/apm-toolkit-trace-scenario/config/expectedData.yaml
  test/plugin/scenarios/tomcat-thread-pool-scenario/bin/startup.sh
  test/plugin/scenarios/tomcat-thread-pool-scenario/config/expectedData.yaml
  test/plugin/scenarios/tomcat-thread-pool-scenario/configuration.yml
  test/plugin/scenarios/tomcat-thread-pool-scenario/pom.xml
  test/plugin/scenarios/tomcat-thread-pool-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/tomcat-thread-pool-scenario/src/main/java/org/apache/skywalking/apm/testcase/tomcat/thread/pool/Application.java
  test/plugin/scenarios/tomcat-thread-pool-scenario/src/main/java/org/apache/skywalking/apm/testcase/tomcat/thread/pool/controller/CaseController.java
  test/plugin/scenarios/tomcat-thread-pool-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/tomcat-thread-pool-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/tomcat-thread-pool-scenario/support-version.list
Labels: plugin, feature

#108 Remove plugin for ServiceComb Java Chassis 0.x with plugin tests.
  .github/workflows/plugins-test.2.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/servicecomb/ProducerOperationHandlerInterceptor.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/servicecomb/TransportClientHandlerInterceptor.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/servicecomb/define/ProducerOperationHandlerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/servicecomb/define/TransportClientHandlerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/servicecomb/ProducerOperationHandlerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/servicecomb-plugin/servicecomb-java-chassis-0.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/servicecomb/TransportClientHandlerInterceptorTest.java
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/servicecomb-0.x-scenario/bin/startup.sh
  test/plugin/scenarios/servicecomb-0.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/servicecomb-0.x-scenario/configuration.yml
  test/plugin/scenarios/servicecomb-0.x-scenario/pom.xml
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/CodeFirstMain.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/consumer/CodeFirstPojoConsumerHelloImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstJaxrsHelloImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstPojoHelloProviderImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/provider/CodeFirstSpringmvcHelloImpl.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/schema/Hello.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/servicecomb/schema/models/Person.java
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/resources/META-INF/spring/pojo.bean.xml
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/resources/config/log4j.demo.properties
  test/plugin/scenarios/servicecomb-0.x-scenario/src/main/resources/microservice.yaml
  test/plugin/scenarios/servicecomb-0.x-scenario/support-version.list
Labels: plugin

#111 Ignore the synthetic constructor created by the agent
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/spring-plugins/core-patch/src/main/java/org/apache/skywalking/apm/plugin/spring/patch/AutowiredAnnotationProcessorInterceptor.java
Labels: bug, plugin

#110 fix Dubbo3.x Context problem #8525
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/dubbo-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo3/DubboInstrumentation.java
  apm-sniffer/apm-sdk-plugin/dubbo-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo3/DubboInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-3.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/dubbo-3.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/dubbo3/DubboInterceptorTest.java
  test/plugin/scenarios/dubbo-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/dubbo-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dubbo3/Application.java
  test/plugin/scenarios/dubbo-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dubbo3/services/ExceptionService.java
  test/plugin/scenarios/dubbo-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dubbo3/services/impl/ExceptionServiceImpl.java
  test/plugin/scenarios/dubbo-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/dubbo3/services/impl/GreetServiceImpl.java
Labels: enhancement, plugin
