Repository apache/skywalking-java, pull requests merged in 2022-04, with the labels that each got.

#138 [Chore] Fix comment's grammar and modifier's order
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/BulkConsumePool.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/ContextManager.java
  apm-sniffer/apm-sdk-plugin/dubbo-2.7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo/DubboInterceptor.java
  apm-sniffer/apm-sdk-plugin/dubbo-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo3/DubboInterceptor.java
Labels: chore

#140 Fix Grpc 1.x plugin could leak context due to gRPC cancelled
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/grpc-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/grpc/v1/server/TracingServerCallListener.java
Labels: bug, plugin

#149 Fix doc, webflux plugin is not required by spring gateway plugin
  docs/en/setup/service-agent/java-agent/Optional-plugins.md
Labels: documentation

#148 Optimize document and fix typo
  apm-application-toolkit/apm-toolkit-logback-1.x/src/main/java/org/apache/skywalking/apm/toolkit/log/logback/v1/x/TraceIdPatternLogbackLayout.java
  apm-application-toolkit/apm-toolkit-meter/src/main/java/org/apache/skywalking/apm/toolkit/meter/Histogram.java
  apm-application-toolkit/apm-toolkit-meter/src/test/java/org/apache/skywalking/apm/toolkit/meter/CounterTest.java
  apm-application-toolkit/apm-toolkit-meter/src/test/java/org/apache/skywalking/apm/toolkit/meter/GaugeTest.java
  apm-application-toolkit/apm-toolkit-meter/src/test/java/org/apache/skywalking/apm/toolkit/meter/HistogramTest.java
  apm-application-toolkit/apm-toolkit-micrometer-registry/src/test/java/org/apache/skywalking/apm/meter/micrometer/SkywalkingCounterTest.java
  apm-application-toolkit/apm-toolkit-micrometer-registry/src/test/java/org/apache/skywalking/apm/meter/micrometer/SkywalkingDistributionSummaryTest.java
  apm-application-toolkit/apm-toolkit-micrometer-registry/src/test/java/org/apache/skywalking/apm/meter/micrometer/SkywalkingLongTaskTimerTest.java
  apm-application-toolkit/apm-toolkit-micrometer-registry/src/test/java/org/apache/skywalking/apm/meter/micrometer/SkywalkingTimerTest.java
  apm-application-toolkit/apm-toolkit-opentracing/src/main/java/org/apache/skywalking/apm/toolkit/opentracing/SkywalkingSpan.java
  apm-commons/apm-datacarrier/src/main/java/org/apache/skywalking/apm/commons/datacarrier/consumer/ConsumerThread.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/util/KeyValuePair.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/meter/Histogram.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/ConstructorInter.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/InstMethodsInter.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/InstMethodsInterWithOverrideArgs.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/StaticMethodsInter.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/StaticMethodsInterWithOverrideArgs.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/v2/InstMethodsInterV2.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/v2/InstMethodsInterV2WithOverrideArgs.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/v2/StaticMethodsInterV2.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/v2/StaticMethodsInterV2WithOverrideArgs.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/util/MethodUtil.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/dependencies/org/slf4j/impl/StaticLoggerBinder.java
  apm-sniffer/apm-sdk-plugin/dubbo-3.x-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/asf/dubbo3/patch/WrapperInstrumentation.java
  apm-sniffer/apm-sdk-plugin/dubbo-conflict-patch/src/main/java/org/apache/skywalking/apm/plugin/dubbo/patch/WrapperInstrumentation.java
  apm-sniffer/apm-sdk-plugin/httpasyncclient-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpasyncclient/v4/define/HttpAsyncClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/httpasyncclient-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/httpasyncclient/v4/define/SessionRequestInstrumentation.java
  apm-sniffer/apm-sdk-plugin/hystrix-1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hystrix/v1/SWHystrixLifecycleForwardingRequestVariable.java
  docs/en/setup/service-agent/java-agent/configurations.md
Labels: chore

#147 Add skywaliking plugin for support Apache ShenYu (incubating) gateway (#8796)
  .github/workflows/plugins-test.3.yaml
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/optional-plugins/pom.xml
  apm-sniffer/optional-plugins/shenyu-2.4.x-plugin/pom.xml
  apm-sniffer/optional-plugins/shenyu-2.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/shenyu/v24x/GlobalPluginExecuteMethodInterceptor.java
  apm-sniffer/optional-plugins/shenyu-2.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/shenyu/v24x/define/GlobalPluginInstrumentation.java
  apm-sniffer/optional-plugins/shenyu-2.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/shenyu/v24x/define/ServerWebExchangeInstrumentation.java
  apm-sniffer/optional-plugins/shenyu-2.4.x-plugin/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/Optional-plugins.md
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/shenyu-2.4.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/shenyu-2.4.x-scenario/configuration.yml
  test/plugin/scenarios/shenyu-2.4.x-scenario/pom.xml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-dist/bin/startup.sh
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-dist/pom.xml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-dist/src/main/assembly/assembly.xml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-entry/pom.xml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-entry/src/main/java/test/apache/skywalking/apm/testcase/shenyu/entry/EntryApplication.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-entry/src/main/java/test/apache/skywalking/apm/testcase/shenyu/entry/http/HttpEntryController.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-entry/src/main/resources/application.yml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-gateway/pom.xml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-gateway/src/main/java/test/apache/skywalking/apm/testcase/shenyu/gateway/GatewayApplication.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-gateway/src/main/java/test/apache/skywalking/apm/testcase/shenyu/gateway/init/InitRouterRunner.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-gateway/src/main/resources/application.yml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-gateway/src/main/resources/shenyu-plugin.json
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-gateway/src/main/resources/shenyu-rule.json
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-gateway/src/main/resources/shenyu-selector.json
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-http/pom.xml
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-http/src/main/java/test/apache/skywalking/apm/testcase/shenyu/http/ShenyuTestHttpApplication.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-http/src/main/java/test/apache/skywalking/apm/testcase/shenyu/http/controller/HealthController.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-http/src/main/java/test/apache/skywalking/apm/testcase/shenyu/http/controller/OrderController.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-http/src/main/java/test/apache/skywalking/apm/testcase/shenyu/http/model/dto/OrderDTO.java
  test/plugin/scenarios/shenyu-2.4.x-scenario/shenyu-http/src/main/resources/application.yml
  test/plugin/scenarios/shenyu-2.4.x-scenario/support-version.list
Labels: plugin, feature

#146 [Feature] Add JDK ThreadPoolExecutor plugin(#8743)
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/WriterFactory.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/PluginFinder.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/logging/core/WriterFactoryTest.java
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/pom.xml
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/AbstractThreadingPoolInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/ThreadPoolExecuteMethodInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/ThreadPoolSubmitMethodInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/define/ThreadPoolExecutorInstrumentation.java
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/wrapper/SwCallableWrapper.java
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/wrapper/SwRunnableWrapper.java
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/bootstrap-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/Bootstrap-plugins.md
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  test/plugin/scenarios/jdk-threadpool-scenario/bin/startup.sh
  test/plugin/scenarios/jdk-threadpool-scenario/config/expectedData.yaml
  test/plugin/scenarios/jdk-threadpool-scenario/configuration.yml
  test/plugin/scenarios/jdk-threadpool-scenario/pom.xml
  test/plugin/scenarios/jdk-threadpool-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jdk-threadpool-scenario/src/main/java/test/apache/skywalking/apm/testcase/jdk/threading/Application.java
  test/plugin/scenarios/jdk-threadpool-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jdk-threadpool-scenario/support-version.list
Labels: plugin, feature

#154 Support default database(not set through JDBC URL) in mysql-5.x plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v5/ConnectionCreate5xInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v5/ConnectionImplCreateInterceptorTest.java
Labels: bug, plugin

#158 Update CHANGES.md
  CHANGES.md
Labels: documentation, chore

#160 Remove redundant 'shade.package' property(#8904)
  CHANGES.md
  apm-sniffer/apm-agent-core/pom.xml
Labels: chore

#164 Fix NPE in gateway plugin when the timer triggers webflux webclient call
  CHANGES.md
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-2.0.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v20x/HttpClientRequestInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-2.1.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v21x/HttpClientFinalizerSendInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v3x/HttpClientFinalizerSendInterceptor.java
Labels: bug, plugin

#135 add SAMPLE_AVG_CPU_LOAD_LIMIT config
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/JVMService.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/sampling/SamplingService.java
  apm-sniffer/config/agent.config
  apm-sniffer/optional-plugins/pom.xml
  apm-sniffer/optional-plugins/trace-sampler-cpu-policy-plugin/pom.xml
  apm-sniffer/optional-plugins/trace-sampler-cpu-policy-plugin/src/main/java/org/apache/skywalking/apm/plugin/cpu/policy/TraceSamplerCpuPolicyExtendService.java
  apm-sniffer/optional-plugins/trace-sampler-cpu-policy-plugin/src/main/java/org/apache/skywalking/apm/plugin/cpu/policy/conf/TraceSamplerCpuPolicyPluginConfig.java
  apm-sniffer/optional-plugins/trace-sampler-cpu-policy-plugin/src/main/resources/META-INF/services/org.apache.skywalking.apm.agent.core.boot.BootService
  apm-sniffer/optional-plugins/trace-sampler-cpu-policy-plugin/src/test/resources/org.apache.skywalking.apm.agent.core.boot.BootService
  docs/en/setup/service-agent/java-agent/Optional-plugins.md
  docs/en/setup/service-agent/java-agent/configurations.md
Labels: plugin, feature, TBD

#165 Change the dateformat of logs to yyyy-MM-dd HH:mm:ss.SSS
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/converters/DateConverter.java
Labels: enhancement

#167 Fix NPE in elasticsearch plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/elasticsearch-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v6/interceptor/AdapterActionFutureActionGetMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/elasticsearch-7.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/elasticsearch/v7/interceptor/AdapterActionFutureActionGetMethodsInterceptor.java
Labels: bug, plugin
