Repository apache/skywalking-java, pull requests merged in 2022-09, with the labels that each got.

#304 Support set/hashset/treeSet/arraylist/linkedlist types in the agent and plugin configurations
  CHANGES.md
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/ConfigInitializer.java
  apm-commons/apm-util/src/test/java/org/apache/skywalking/apm/util/ConfigInitializerTest.java
Labels: core, feature

#305 Optimize ConfigInitializer warnning mesaage,fix override and merge de…
  CHANGES.md
  apm-commons/apm-util/src/main/java/org/apache/skywalking/apm/util/ConfigInitializer.java
  apm-commons/apm-util/src/test/java/org/apache/skywalking/apm/util/ConfigInitializerTest.java
  docs/en/setup/service-agent/java-agent/configurations.md
Labels: enhancement

#302 Add plugin to support impala jdbc driver
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/CreateCallableStatementInterceptor.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/CreatePreparedStatementInterceptor.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/CreateStatementInterceptor.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/SetCatalogInterceptor.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/StatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/define/ConnectionInstrumentation.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/define/DriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/define/PreparedStatementIgnoredSetterInstrumentation.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/define/PreparedStatementInstrumentation.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/define/PreparedStatementNullSetterInstrumentation.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/define/PreparedStatementSetterInstrumentation.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/impala/define/StatementInstrumentation.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/impala/CreateCallableStatementInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/impala/CreatePreparedStatementInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/impala/CreateStatementInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/impala/PreparedStatementExecuteMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/impala-jdbc-2.6.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/jdbc/impala/StatementExecuteMethodsInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/ImpalaJdbcURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParser.java
  apm-sniffer/apm-sdk-plugin/kylin-jdbc-2.6.x-3.x-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/kylin/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mariadb-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mariadb/v2/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mssql-commons/src/main/java/org/apache/skywalking/apm/plugin/mssql/commons/Constants.java
  apm-sniffer/apm-sdk-plugin/mssql-commons/src/main/java/org/apache/skywalking/apm/plugin/mssql/commons/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/Constants.java
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/PreparedStatementExecuteMethodsInterceptor.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/postgresql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/postgresql/PreparedStatementExecuteMethodsInterceptor.java
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/bin/startup.sh
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/configuration.yml
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/pom.xml
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/impalajdbc/Application.java
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/impalajdbc/ImpalaJdbcConfig.java
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/impalajdbc/SQLExecutor.java
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/impalajdbc/controller/CaseController.java
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/resources/jdbc.properties
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/impala-jdbc-2.6.x-scenario/support-version.list
Labels: plugin, feature

#303 Update guava-cache,jedis,memcached,ehcache plugins to adopt uniform tags
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-2.x-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jedis/v3/JedisMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-2.x-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jedis/v3/JedisPluginConfig.java
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-4.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jedis/v4/AbstractConnectionInterceptor.java
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jedis/v4/JedisPluginConfig.java
  apm-sniffer/apm-sdk-plugin/xmemcached-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/xmemcached/v2/MemcachedPluginConfig.java
  apm-sniffer/apm-sdk-plugin/xmemcached-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/xmemcached/v2/XMemcachedMethodInterceptor.java
  apm-sniffer/apm-sdk-plugin/xmemcached-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/xmemcached/v2/define/XMemcachedInstrumentation.java
  apm-sniffer/apm-sdk-plugin/xmemcached-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/xmemcached/v2/XMemcachedMethodInterceptorTest.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheLockInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheOperateAllInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheOperateElementInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcacheOperateObjectInterceptor.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EhcachePluginConfig.java
  apm-sniffer/optional-plugins/ehcache-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/ehcache/v2/EncacheOperationConvertor.java
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/cache/GuavaCacheAllInterceptor.java
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/cache/GuavaCacheInterceptor.java
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/cache/GuavaCacheOperationConvertor.java
  apm-sniffer/optional-plugins/guava-cache-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/cache/GuavaCachePluginConfig.java
  docs/en/setup/service-agent/java-agent/Java-Plugin-Development-Guide.md
  docs/en/setup/service-agent/java-agent/configurations.md
  test/plugin/scenarios/ehcache-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/guava-cache-scenario/config/expectedData.yaml
  test/plugin/scenarios/jedis-2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/jedis-3.1.x-plus-scenario/config/expectedData.yaml
  test/plugin/scenarios/jedis-4.x-scenario/config/expectedData.yaml
Labels: enhancement, plugin

#307 Add docs for virtual database tags
  CHANGES.md
  docs/en/setup/service-agent/java-agent/Java-Plugin-Development-Guide.md
Labels: documentation

#309 [Bug #9598] Apache ShenYu agent Tid is null
  CHANGES.md
  apm-sniffer/optional-plugins/shenyu-2.4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/shenyu/v24x/GlobalPluginExecuteMethodInterceptor.java
Labels: bug, plugin

#321 add baidu-brpc-java-3.x plugin
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/baidu/brpc3/ClientInstrumentation.java
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/baidu/brpc3/ClientInterceptor.java
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/baidu/brpc3/ServerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/baidu/brpc3/ServerInterceptor.java
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/baidu/brpc3/ClientInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/baidu-brpc-3.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/baidu/brpc3/ServerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/baidu-brpc-3.x-scenario/bin/startup.sh
  test/plugin/scenarios/baidu-brpc-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/baidu-brpc-3.x-scenario/configuration.yml
  test/plugin/scenarios/baidu-brpc-3.x-scenario/pom.xml
  test/plugin/scenarios/baidu-brpc-3.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/baidu-brpc-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/baidu.brpc/BaiduBrpcApplication.java
  test/plugin/scenarios/baidu-brpc-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/baidu.brpc/controller/CaseController.java
  test/plugin/scenarios/baidu-brpc-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/baidu.brpc/interfaces/Echo.java
  test/plugin/scenarios/baidu-brpc-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/baidu.brpc/interfaces/EchoService.java
  test/plugin/scenarios/baidu-brpc-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/baidu.brpc/service/EchoServiceImpl.java
  test/plugin/scenarios/baidu-brpc-3.x-scenario/src/main/resources/application.yml
  test/plugin/scenarios/baidu-brpc-3.x-scenario/support-version.list
Labels: enhancement, plugin
