Repository apache/skywalking-java, pull requests merged in 2023-12, with the labels that each got.

#654 Bump up bundled CLI
  Makefile
Labels: docker

#655 Remove dead links
  docs/en/setup/service-agent/java-agent/Supported-list.md
Labels: chore

#658 Fix NoSuchMethodError in mvc-annotation-commons&change deprecated method
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-commons/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/commons/interceptor/AbstractMethodInterceptor.java
  test/plugin/scenarios/spring-6.x-scenario/pom.xml
  test/plugin/scenarios/spring-6.x-scenario/support-version.list
Labels: bug, plugin

#656 Support forkjoinpool plugin in JDK11
  .github/workflows/plugins-jdk11-test.3.yaml
  CHANGES.md
  apm-sniffer/bootstrap-plugins/jdk-forkjoinpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/forkjoinpool/define/ForkJoinWorkerQueueInstrumentation.java
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/bin/startup.sh
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/config/expectedData.yaml
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/configuration.yml
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/pom.xml
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jdk/forkjoinpool/Application.java
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jdk/forkjoinpool/controller/CaseController.java
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jdk11-forkjoinpool-scenario/support-version.list
Labels: enhancement, plugin

#661 Support for tracing webflux-6.x and gateway-4.x
  .github/workflows/plugins-jdk17-test.1.yaml
  CHANGES.md
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v3x/define/AbstractGatewayV3EnhancePluginDefine.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/pom.xml
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/HttpClientFinalizerConstructorInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/HttpClientFinalizerResponseConnectionInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/HttpClientFinalizerSendInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/HttpClientFinalizerUriInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/NettyRoutingFilterInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/define/AbstractGatewayV4EnhancePluginDefine.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/define/DispatcherHandlerInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/define/EnhanceObjectCache.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/define/HttpClientFinalizerInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/define/NettyRoutingFilterInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/define/ServerWebExchangeInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/HttpClientFinalizerConstructorInterceptorTest.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/HttpClientFinalizerInterceptorTest.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/MockCliengRequest.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/MockClientResponse.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/spring/cloud/gateway/v4x/NettyRoutingFilterInterceptorTest.java
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/gateway-4.x-plugin/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  apm-sniffer/optional-plugins/optional-spring-plugins/optional-spring-cloud/pom.xml
  apm-sniffer/optional-plugins/optional-spring-plugins/pom.xml
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v5/define/DispatcherHandlerInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-6.x-plugin/pom.xml
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v6/DispatcherHandlerHandleMethodInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v6/ServerWebExchangeConstructorInterceptor.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v6/define/DispatcherHandlerInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/webflux/v6/define/ServerWebExchangeInstrumentation.java
  apm-sniffer/optional-plugins/optional-spring-plugins/spring-webflux-6.x-plugin/src/main/resources/skywalking-plugin.def
  docs/en/setup/service-agent/java-agent/Optional-plugins.md
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/gateway-4.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/gateway-4.x-scenario/configuration.yml
  test/plugin/scenarios/gateway-4.x-scenario/gateway-dist/bin/startup.sh
  test/plugin/scenarios/gateway-4.x-scenario/gateway-dist/pom.xml
  test/plugin/scenarios/gateway-4.x-scenario/gateway-dist/src/main/assembly/assembly.xml
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectA-scenario/pom.xml
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectA-scenario/src/main/java/test/apache/skywalking/apm/testcase/sc/gateway/projectA/ApiKeyResolver.java
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectA-scenario/src/main/java/test/apache/skywalking/apm/testcase/sc/gateway/projectA/Application.java
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectA-scenario/src/main/java/test/apache/skywalking/apm/testcase/sc/gateway/projectA/Test1Filter.java
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectA-scenario/src/main/java/test/apache/skywalking/apm/testcase/sc/gateway/projectA/Test2Filter.java
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectA-scenario/src/main/java/test/apache/skywalking/apm/testcase/sc/gateway/projectA/TestFilterConfig.java
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectA-scenario/src/main/resources/application.yml
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectB-scenario/pom.xml
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectB-scenario/src/main/java/test/apache/skywalking/apm/testcase/sc/gateway/projectB/Application.java
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectB-scenario/src/main/java/test/apache/skywalking/apm/testcase/sc/gateway/projectB/controller/TestController.java
  test/plugin/scenarios/gateway-4.x-scenario/gateway-projectB-scenario/src/main/resources/application.properties
  test/plugin/scenarios/gateway-4.x-scenario/pom.xml
  test/plugin/scenarios/gateway-4.x-scenario/support-version.list
Labels: plugin, feature

#659 Fix re-transform bug when enhanced class proxy parent method
  CHANGES.md
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-2.x-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-2.x-3.x-plugin/src/test/java/org/apache/skywalking/apm/agent/JedisInstrumentationTest.java
  apm-sniffer/bytebuddy-patch/src/main/java/net/bytebuddy/agent/builder/SWDescriptionStrategy.java
  apm-sniffer/bytebuddy-patch/src/main/java/org/apache/skywalking/apm/agent/bytebuddy/SWMethodGraphCompilerDelegate.java
Labels: enhancement, core
