Repository apache/skywalking-java, pull requests merged in 2023-05, with the labels that each got.

#517 support jetty server work thread pool metric monitor
  .github/workflows/plugins-jdk17-test.0.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jetty-thread-pool-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/jetty-thread-pool-plugin/src/main/java/org/apache/skywalking/apm/plugin/jetty/thread/pool/JettyServerInterceptor.java
  apm-sniffer/apm-sdk-plugin/jetty-thread-pool-plugin/src/main/java/org/apache/skywalking/apm/plugin/jetty/thread/pool/define/JettyServerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/jetty-thread-pool-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/bin/startup.sh
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/config/expectedData.yaml
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/configuration.yml
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/pom.xml
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jetty11xthreadpool/Application.java
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jetty11xthreadpool/controller/CaseController.java
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jetty-11.x-thread-pool-scenario/support-version.list
  test/plugin/scenarios/jetty-thread-pool-scenario/bin/startup.sh
  test/plugin/scenarios/jetty-thread-pool-scenario/config/expectedData.yaml
  test/plugin/scenarios/jetty-thread-pool-scenario/configuration.yml
  test/plugin/scenarios/jetty-thread-pool-scenario/pom.xml
  test/plugin/scenarios/jetty-thread-pool-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jetty-thread-pool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jettythreadpool/Application.java
  test/plugin/scenarios/jetty-thread-pool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jettythreadpool/controller/CaseController.java
  test/plugin/scenarios/jetty-thread-pool-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jetty-thread-pool-scenario/support-version.list
Labels: plugin, feature

#520 support jersey rest framework
  .github/workflows/plugins-jdk17-test.0.yaml
  .github/workflows/plugins-test.2.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/jersey-2.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/jersey-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jersey/v2/ApplicationHandlerInterceptor.java
  apm-sniffer/apm-sdk-plugin/jersey-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jersey/v2/define/ApplicationHandlerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/jersey-2.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/jersey-3.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/jersey-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jersey/v3/ApplicationHandlerInterceptor.java
  apm-sniffer/apm-sdk-plugin/jersey-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jersey/v3/define/ApplicationHandlerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/jersey-3.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/bin/startup.sh
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/configuration.yml
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/pom.xml
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/jersey2xto25x/Application.java
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/jersey2xto25x/controller/CaseController.java
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jersey-2.0.x-2.25.x-scenario/support-version.list
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/bin/startup.sh
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/configuration.yml
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/pom.xml
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/jersey26xto39x/Application.java
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/jersey26xto39x/controller/CaseController.java
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jersey-2.26.x-2.39.x-scenario/support-version.list
  test/plugin/scenarios/jersey-3.x-scenario/bin/startup.sh
  test/plugin/scenarios/jersey-3.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/jersey-3.x-scenario/configuration.yml
  test/plugin/scenarios/jersey-3.x-scenario/pom.xml
  test/plugin/scenarios/jersey-3.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jersey-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/jersey3x/Application.java
  test/plugin/scenarios/jersey-3.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/jersey3x/controller/CaseController.java
  test/plugin/scenarios/jersey-3.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jersey-3.x-scenario/support-version.list
Labels: plugin, feature

#524 Fix ClassCastException when mssql inserting data (#10741)
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/PSSetterDefinitionOfJDBCInstrumentation.java
Labels: bug, plugin

#525 Chore: fix exclusion rules in maven-shade-plugin
  CHANGES.md
  apm-sniffer/apm-agent-core/pom.xml
  apm-sniffer/apm-agent/pom.xml
Labels: chore

#527 Support agent running in the JBoss relative with its ModuleClassloader.
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/boot/AgentPackagePath.java
Labels: bug, core

#531 Fix possible IllegalStateException when using Micrometer
  CHANGES.md
  apm-sniffer/apm-toolkit-activation/apm-toolkit-micrometer-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/micrometer/MicrometerReceiverTracingHandlerInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-micrometer-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/micrometer/MicrometerSenderTracingHandlerInterceptor.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-micrometer-activation/src/main/java/org/apache/skywalking/apm/toolkit/activation/micrometer/SpanHelper.java
  apm-sniffer/apm-toolkit-activation/apm-toolkit-micrometer-activation/src/test/java/org/apache/skywalking/apm/toolkit/activation/micrometer/SpanHelperTest.java
Labels: bug

#533 Support monitor grizzly thread pool
  .github/workflows/plugins-jdk17-test.0.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/grizzly-2.3.x-4.x-work-threadpool-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/grizzly-2.3.x-4.x-work-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/grizzly/workthreadpool/TransportInterceptor.java
  apm-sniffer/apm-sdk-plugin/grizzly-2.3.x-4.x-work-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/grizzly/workthreadpool/define/AbstractWitnessInstrumentation.java
  apm-sniffer/apm-sdk-plugin/grizzly-2.3.x-4.x-work-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/grizzly/workthreadpool/define/TransportInstrumentation.java
  apm-sniffer/apm-sdk-plugin/grizzly-2.3.x-4.x-work-threadpool-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/pom.xml
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/bin/startup.sh
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/config/expectedData.yaml
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/configuration.yml
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/pom.xml
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/src/main/java/test/apache/skywalking/apm/testcase/grizzly/workthreadpool/Application.java
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/src/main/java/test/apache/skywalking/apm/testcase/grizzly/workthreadpool/controller/CaseHandler.java
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/src/main/java/test/apache/skywalking/apm/testcase/grizzly/workthreadpool/controller/HealCheckHandler.java
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/src/main/java/test/apache/skywalking/apm/testcase/grizzly/workthreadpool/controller/ReceiveContextHandler.java
  test/plugin/scenarios/grizzly-2.3.x-4.x-workthreadpool-scenario/support-version.list
Labels: plugin, feature

#538 Fix the gson dependency in the kafka-reporter-plugin. (#10848)
  CHANGES.md
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/pom.xml
Labels: bug

#540 [Feature] Support to configure custom decode method for kafka configurations
  CHANGES.md
  apm-sniffer/config/agent.config
  apm-sniffer/optional-reporter-plugins/kafka-config-extension/pom.xml
  apm-sniffer/optional-reporter-plugins/kafka-config-extension/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaConfigExtension.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/pom.xml
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaProducerManager.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/main/java/org/apache/skywalking/apm/agent/core/kafka/KafkaReporterPluginConfig.java
  apm-sniffer/optional-reporter-plugins/kafka-reporter-plugin/src/test/java/org/apache/skywalking/apm/agent/core/kafka/KafkaProducerManagerTest.java
  apm-sniffer/optional-reporter-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/advanced-reporters.md
  docs/en/setup/service-agent/java-agent/configurations.md
Labels: feature
