Repository apache/skywalking-java, pull requests merged in 2023-11, with the labels that each got.

#644 Fix Impala Jdbc URL (including schema without properties) parsing exception
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/ImpalaJdbcURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/test/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParserTest.java
Labels: bug, plugin

#646 Add JDK 21 image container
  .github/workflows/publish-docker.yaml
  CHANGES.md
  Makefile
Labels: docker, testing

#649 Fix PostgreSQL Jdbc URL parsing exception
  CHANGES.md
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/context/IgnoredTracerContextTest.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/PostgreSQLURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/test/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParserTest.java
Labels: enhancement, plugin
