Repository apache/skywalking-java, pull requests merged in 2023-07, with the labels that each got.

#567 Support to trace redisson lock
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/context/tag/Tags.java
  apm-sniffer/apm-sdk-plugin/redisson-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/redisson/v3/RedissonHighLevelLockInterceptor.java
  apm-sniffer/apm-sdk-plugin/redisson-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/redisson/v3/RedissonLockInterceptor.java
  apm-sniffer/apm-sdk-plugin/redisson-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/redisson/v3/define/RedissonLockInstrumentation.java
  apm-sniffer/apm-sdk-plugin/redisson-3.x-plugin/src/main/resources/skywalking-plugin.def
  test/plugin/scenarios/redisson-scenario/config/expectedData.yaml
  test/plugin/scenarios/redisson-scenario/src/main/java/test/apache/skywalking/apm/testcase/redisson/controller/CaseController.java
Labels: plugin, feature

#570 fix CVE-2023-2976 and CVE-2023-34462
  CHANGES.md
  apm-sniffer/apm-agent-core/pom.xml
  dist-material/LICENSE
  pom.xml
Labels: dependency

#571 update witness class in springmvc-annotation-5.x-plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v5/define/AbstractSpring5Instrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v5/define/reactive/AbstractSpring5ReactiveInstrumentation.java
  apm-sniffer/apm-sdk-plugin/spring-plugins/mvc-annotation-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/spring/mvc/v5/define/reactive/AbstractSpring5ReactiveInstrumentationV2.java
Labels: documentation, plugin

#580 fix jedis 2.x plugin bug and add test for redis cluster
  .github/workflows/plugins-test.1.yaml
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jedis-plugins/jedis-2.x-3.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jedis/v3/JedisClusterConstructorWithHostAndPortArgInterceptor.java
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/bin/startup.sh
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/config/expectedData.yaml
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/configuration.yml
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/pom.xml
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/src/main/java/org/apache/skywalking/apm/testcase/jedis/Application.java
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/src/main/java/org/apache/skywalking/apm/testcase/jedis/controller/CaseController.java
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/src/main/java/org/apache/skywalking/apm/testcase/jedis/controller/RedisClusterCommandExecutor.java
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/src/main/java/org/apache/skywalking/apm/testcase/jedis/controller/RedisSingleClusterCommandExecutor.java
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jedis-2.x-3.x-cluster-scenario/support-version.list
Labels: enhancement

#581 merge two instrumentation classes to avoid duplicate enhancements in mysql plugins.
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v5/define/CacheIpsDriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v5/define/DriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mysql-5.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/mysql-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v6/define/CacheIpsDriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mysql-6.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v6/define/DriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mysql-6.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v8/define/CacheIpsDriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/v8/define/DriverInstrumentation.java
  apm-sniffer/apm-sdk-plugin/mysql-8.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/mysql-common/src/main/java/org/apache/skywalking/apm/plugin/jdbc/mysql/DriverConnectInterceptor.java
Labels: enhancement, plugin

#582 avoid ThreadPoolExecutor duplicate enhancement
  CHANGES.md
  apm-sniffer/bootstrap-plugins/jdk-threadpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/AbstractThreadingPoolInterceptor.java
Labels: enhancement, plugin

#588 fix the conditions for resetting uuid in dynamic configuration
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/dynamic/ConfigurationDiscoveryService.java
Labels: bug

#589 Fix CHANGES.md. Move other features out of kernel update.
  CHANGES.md
Labels: documentation
