Repository apache/skywalking-java, pull requests merged in 2023-06, with the labels that each got.

#541 Support jdk17 zgc
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/gc/CMSGCModule.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/gc/G1GCModule.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/gc/GCModule.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/gc/ParallelGCModule.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/gc/SerialGCModule.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/gc/ZGCModule.java
Labels: plugin, feature

#544 remove zgc pause space
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/jvm/gc/ZGCModule.java
Labels: bug

#546 Feature/fix spring data hadoop
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/hbase-1.x-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hbase/HTable100Interceptor.java
  apm-sniffer/apm-sdk-plugin/hbase-1.x-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/hbase/define/HTableInstrumentation.java
  apm-sniffer/apm-sdk-plugin/hbase-1.x-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/hbase/HTable100InterceptorTest.java
Labels: bug, plugin

#556 Fix the apm-jdk-threadpool-plugin does not work in certain scenarios
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/logging/core/FileWriter.java
Labels: bug, core

#558 update changes.md for Fixing issue #10925
  CHANGES.md
Labels: chore

#559 fix npe in guava eventbus plugin
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/guava-eventbus-plugin/src/main/java/org/apache/skywalking/apm/plugin/guava/eventbus/EventBusDispatchInterceptor.java
  apm-sniffer/apm-sdk-plugin/guava-eventbus-plugin/src/test/java/org/apache/skywalking/apm/plugin/guava/eventbus/EventBusDispatchInterceptorTest.java
  test/plugin/scenarios/guava-eventbus-scenario/config/expectedData.yaml
  test/plugin/scenarios/guava-eventbus-scenario/src/main/java/org/apache/skywalking/apm/testcase/guava/eventbus/controller/CaseController.java
Labels: bug, plugin

#561 Improve bytebuddy class enhance for retransform classes
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Config.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/conf/Constants.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/bytebuddy/AnnotationTypeNameMatch.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/bytebuddy/ArgumentTypeNameMatch.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/bytebuddy/CacheableTransformerDecorator.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/bytebuddy/ReturnTypeNameMatch.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/ConstructorInterceptPoint.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/InstanceMethodsInterceptPoint.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/StaticMethodsInterceptPoint.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/ClassEnhancePluginDefine.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/DelegateNamingResolver.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/enhance/v2/ClassEnhancePluginDefineV2.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/v2/ConstructorInterceptV2Point.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/v2/InstanceMethodsInterceptV2Point.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/interceptor/v2/StaticMethodsInterceptV2Point.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/MethodInheritanceAnnotationMatcher.java
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/match/ProtectiveShieldMatcher.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/bytebuddy/ClassScan.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/bytebuddy/ElementMatcherSubclassVerifyTest.java
  apm-sniffer/apm-agent/pom.xml
  apm-sniffer/apm-agent/src/main/java/org/apache/skywalking/apm/agent/SkyWalkingAgent.java
  apm-sniffer/apm-sdk-plugin/finagle-6.25.x-plugin/pom.xml
  apm-sniffer/bytebuddy-patch/pom.xml
  apm-sniffer/bytebuddy-patch/src/main/java/net/bytebuddy/agent/builder/SWAgentBuilderDefault.java
  apm-sniffer/bytebuddy-patch/src/main/java/net/bytebuddy/agent/builder/SWNativeMethodStrategy.java
  apm-sniffer/bytebuddy-patch/src/main/java/net/bytebuddy/implementation/SWImplementationContextFactory.java
  apm-sniffer/bytebuddy-patch/src/main/java/org/apache/skywalking/apm/agent/bytebuddy/SWAuxiliaryTypeNamingStrategy.java
  apm-sniffer/bytebuddy-patch/src/main/java/org/apache/skywalking/apm/agent/bytebuddy/SWMethodNameTransformer.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/ConstructorInter.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/EnhanceHelper.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/InstMethodsInter.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/Log.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/SWAsmVisitorWrapper.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/SWClassFileLocator.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/SWExtractionClassFileTransformer.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/biz/BizFoo.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/biz/ProjectDO.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/biz/ProjectService.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/AbstractInterceptTest.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/AbstractReTransformTest.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/Intercept1Test.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/Intercept2Test.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/Intercept3Test.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/Intercept4Test.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/Intercept5Test.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/Intercept6Test.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/MultipleInterceptorTest.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/ReTransform1Test.java
  apm-sniffer/bytebuddy-patch/src/test/java/org/apache/skywalking/apm/agent/bytebuddy/cases/ReTransform2Test.java
  apm-sniffer/config/agent.config
  apm-sniffer/pom.xml
  docs/en/setup/service-agent/java-agent/configurations.md
  pom.xml
  test/plugin/scenarios/retransform-class-scenario/bin/startup.sh
  test/plugin/scenarios/retransform-class-scenario/configuration.yml
  test/plugin/scenarios/retransform-class-tomcat-scenario/configuration.yml
Labels: enhancement, core

#560 Add WebSphere Liberty 23.x plugin.(#10887)
  .github/workflows/plugins-test.2.yaml
  CHANGES.md
  apm-protocol/apm-network/src/main/java/org/apache/skywalking/apm/network/trace/component/ComponentsDefine.java
  apm-sniffer/apm-sdk-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/pom.xml
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/com/ibm/websphere/servlet/request/IRequest.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/com/ibm/ws/webcontainer/async/CompleteRunnable.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/com/ibm/ws/webcontainer/async/DispatchRunnable.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/AsyncContextInterceptor.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/DynamicVirtualHostInterceptor.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/IResponseInterceptor.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/WebContainerInterceptor.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/async/AsyncType.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/async/RunnableWrapper.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/define/AbstractWitnessInstrumentation.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/define/AsyncContextInstrumentation.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/define/DynamicVirtualHostInstrumentation.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/define/IResponseInstrumentation.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/define/WebContainerInstrumentation.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/AsyncContextInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/DynamicVirtualHostInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/IResponseInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/websphere-liberty-23.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/websphereliberty/v23/WebContainerInterceptorTest.java
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  pom.xml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/bin/startup.sh
  test/plugin/scenarios/websphere-liberty-23.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/configuration.yml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/pom.xml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/websphereliberty/CaseServlet.java
  test/plugin/scenarios/websphere-liberty-23.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/websphereliberty/HealthCheckServlet.java
  test/plugin/scenarios/websphere-liberty-23.x-scenario/src/main/liberty/config/server.xml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/src/main/webapp/WEB-INF/web.xml
  test/plugin/scenarios/websphere-liberty-23.x-scenario/support-version.list
Labels: plugin, feature

#566 Feature/fix clickhouse with druid
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/ClickHouseURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/MysqlURLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParser.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/test/java/org/apache/skywalking/apm/plugin/jdbc/connectionurl/parser/URLParserTest.java
Labels: bug, plugin
