Repository apache/skywalking-java, pull requests merged in 2023-04, with the labels that each got.

#497 Update the endpoint name format of the `Undertow`
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/undertow-plugins/undertow-2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/undertow/v2x/handler/TracingHandler.java
  apm-sniffer/apm-sdk-plugin/undertow-plugins/undertow-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/undertow/v2x/RoutingHandlerInterceptorTest.java
  apm-sniffer/apm-sdk-plugin/undertow-plugins/undertow-2.x-plugin/src/test/java/org/apache/skywalking/apm/plugin/undertow/v2x/TracingHandlerTest.java
  test/plugin/scenarios/undertow-scenario/config/expectedData.yaml
Labels: enhancement

#504 Exclude synthetic methods for WitnessMethod
  CHANGES.md
  apm-sniffer/apm-agent-core/src/main/java/org/apache/skywalking/apm/agent/core/plugin/WitnessMethod.java
  apm-sniffer/apm-agent-core/src/test/java/org/apache/skywalking/apm/agent/core/plugin/witness/WitnessTest.java
  test/plugin/scenarios/shenyu-2.4.x-sofarpc-scenario/pom.xml
Labels: bug, core

#505 Feature/support forkjoinpool
  .github/workflows/plugins-test.3.yaml
  CHANGES.md
  apm-sniffer/bootstrap-plugins/jdk-forkjoinpool-plugin/pom.xml
  apm-sniffer/bootstrap-plugins/jdk-forkjoinpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/forkjoinpool/ForkJoinTaskConstructorInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-forkjoinpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/forkjoinpool/ForkJoinWorkerQueueMethodInterceptor.java
  apm-sniffer/bootstrap-plugins/jdk-forkjoinpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/forkjoinpool/define/ForkJoinTaskInstrumentation.java
  apm-sniffer/bootstrap-plugins/jdk-forkjoinpool-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdk/forkjoinpool/define/ForkJoinWorkerQueueInstrumentation.java
  apm-sniffer/bootstrap-plugins/jdk-forkjoinpool-plugin/src/main/resources/skywalking-plugin.def
  apm-sniffer/bootstrap-plugins/pom.xml
  docs/en/setup/service-agent/java-agent/Bootstrap-plugins.md
  docs/en/setup/service-agent/java-agent/Plugin-list.md
  docs/en/setup/service-agent/java-agent/Supported-list.md
  test/plugin/scenarios/jdk-forkjoinpool-scenario/bin/startup.sh
  test/plugin/scenarios/jdk-forkjoinpool-scenario/config/expectedData.yaml
  test/plugin/scenarios/jdk-forkjoinpool-scenario/configuration.yml
  test/plugin/scenarios/jdk-forkjoinpool-scenario/pom.xml
  test/plugin/scenarios/jdk-forkjoinpool-scenario/src/main/assembly/assembly.xml
  test/plugin/scenarios/jdk-forkjoinpool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jdk/forkjoinpool/Application.java
  test/plugin/scenarios/jdk-forkjoinpool-scenario/src/main/java/org/apache/skywalking/apm/testcase/jdk/forkjoinpool/controller/CaseController.java
  test/plugin/scenarios/jdk-forkjoinpool-scenario/src/main/resources/application.yaml
  test/plugin/scenarios/jdk-forkjoinpool-scenario/src/main/resources/log4j2.xml
  test/plugin/scenarios/jdk-forkjoinpool-scenario/support-version.list
Labels: plugin, feature

#515 clickhouse-jdbc-plugin support trace sql parameters when enable plugin.jdbc.trace_sql_parameters
  CHANGES.md
  apm-sniffer/apm-sdk-plugin/clickhouse-0.3.2.x-plugin/src/main/java/org/apache/skywalking/apm/plugin/jdbc/clickhouse/v32/SWClickHousePreparedStatement.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/trace/PreparedStatementTracing.java
  apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalking/apm/plugin/jdbc/trace/SWPreparedStatement.java
  test/plugin/scenarios/clickhouse-0.3.1-scenario/config/expectedData.yaml
  test/plugin/scenarios/clickhouse-0.3.1-scenario/configuration.yml
  test/plugin/scenarios/clickhouse-0.3.1-scenario/src/main/java/org/apache/skywalking/apm/testcase/neo4j/controller/CaseController.java
  test/plugin/scenarios/clickhouse-0.3.2.x-scenario/config/expectedData.yaml
  test/plugin/scenarios/clickhouse-0.3.2.x-scenario/configuration.yml
  test/plugin/scenarios/clickhouse-0.3.2.x-scenario/src/main/java/org/apache/skywalking/apm/testcase/neo4j/controller/CaseController.java
Labels: plugin
